$primary: #5C7AFF;
$secondary: #59D2FE;
$accent: #82B1FF;
$error: #FF5271;
$info: #2196F3;
$success: #73FBD3;
$warning: #FFCA84;

$border-radius-root: .5rem;

// $btn-border-radius: .5rem;
// $text-field-border-radius: .5rem;